body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

.noticias {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.noticia {
    background-color: white;
    margin: 10px;
    padding: 20px;
    width: 30%;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.noticia h2 {
    font-size: 1.5rem;
    color: #333;
}

.noticia img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.noticia p {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
}
