/* Estilo para el contenedor general */
.contenedor {
  display: grid; /* Establece que el contenedor usa un modelo de diseño en grid (rejilla). */
  grid-template-columns: 100px repeat(2, 150px); /* Define tres columnas:
                                                     - La primera columna tiene un ancho fijo de 100px.
                                                     - Las siguientes dos columnas tienen un ancho fijo de 150px cada una. */
  gap: 1px; /* Define un espacio (o separación) de 1px entre las celdas del grid. */
  justify-content: center; /* Centra el grid horizontalmente dentro de su contenedor. */
}

/* Estilo para la primera columna que abarca dos columnas en el grid */
.columna1 {
  grid-column: 1/3; /* Hace que este elemento se extienda desde la columna 1 hasta la columna 3 (ocupa dos columnas). */
  grid-row: 1; /* Posiciona este elemento en la primera fila del grid. */
}

/* Estilo para los hijos pares del contenedor */
.contenedor div:nth-child(even) {
  background-color: rgb(12, 216, 223); /* Establece un color de fondo azul claro para los elementos hijos con índices pares. */
}

/* Estilo para los hijos impares del contenedor */
.contenedor div:nth-child(odd) {
  background-color: rgb(221, 23, 23); /* Establece un color de fondo rojo para los elementos hijos con índices impares. */
}
