body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navegacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(11, 42, 145);
    padding: 10px 20px;
}

.navegacion img {
    height: 50px;
}

.navegacion ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navegacion ul li {
    margin-left: 20px;
}

.navegacion ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.navegacion ul li a:hover {
    background-color: aqua;
    color: black;
}