body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
 
.contenedor {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-color: lightblue; 
}
 
.elemento-interno {
    text-align: center;
    font-size: 24px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}