.contenedor{
  display: flex;
  
}
.titulo1{
    background-color: black;
    color: white;
    width: 500px;
    height: 500px;
    text-align: center;
    flex-grow: 1;
}
.titulo2{
    background-color:lightgrey;
    color: white;
    width: 500px;
    height: 500px;
    text-align: center;
    flex-grow: 10;
}
.titulo3{
    background-color: black;
    color: white;
    width: 500px;
    height: 500px;
    text-align: center;
    flex-grow: 1;
}