
.contenedor {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
}

.flex {
    display: flex;
    border: 2px solid #ccc;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.box {
    width: 100px;
    height: 100px;
}


.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}


.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

.column-reverse {
    flex-direction: column-reverse;
}


.nowrap {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    border: 3px solid black;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
    border: 3px solid black;
}


.flex-start {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    border: 3px solid black;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    border: 3px solid black;
}

.center {
    display: flex;
    justify-content: center;
    border: 3px solid black;
}

.space-between {
    display: flex;
    justify-content: space-between;
    border: 3px solid black;
}

.space-around {
    display: flex;
    justify-content: space-around;
    border: 3px solid black;
}

.space-evenly {
    display: flex;
    justify-content: space-evenly;
    border: 3px solid black;
}


.stretch {
    display: flex;
    align-items: stretch;
    border: 2px solid black;
}

.flex-start-align {
    display: flex;
    align-items: flex-start;
    border: 2px solid black;
}

.flex-end-align {
    display: flex;
    align-items: flex-end;
    border: 2px solid black;
}

.centers {
    display: flex;
    align-items: center;
    border: 2px solid black;
}

.baseline {
    display: flex;
    align-items: baseline;
    border: 2px solid black;
}


.alstretch {
    width: 50%;
    display: flex;
    align-content: stretch;
    border: 2px solid black;
}

.alflex-start {
    width: 50%;
    display: flex;
    align-content: flex-start;
    border: 2px solid black;
}

.alflex-end {
    width: 50%;
    display: flex;
    align-content: flex-end;
    border: 2px solid black;
}

.alcenter {
    width: 50%;
    display: flex;
    align-content: center;
    border: 2px solid black;
}

.alspace-around {
    width: 50%;
    display: flex;
    align-content: space-around;
    border: 2px solid black;
}

.alspace-between {
    width: 50%;
    display: flex;
    align-content: space-between;
    border: 2px solid black;
}

.alspace-evenly {
    width: 50%;
    display: flex;
    align-content: space-evenly;
    border: 2px solid black;
}
