.flex-container {
    display: flex;
    border: 2px solid #333;
    height: 200px;
    margin: 10px;
    padding: 5px;
  }
  .box {
    width: 50px;
    height: 50px;
    background-color: lightblue;
    border: 1px solid #000;
    text-align: center;
    line-height: 50px;
  }
  .title {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
  }