.contenedor{
    display: grid;
    grid-template-columns: repeat(3,150px);
    gap: 10px;
   
    
}
.uno{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: aqua;
}
.dos{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: aqua;
}
.tres{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: aqua;
}
.cuatro{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: aqua;
}
.cinco{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: aqua;
}
.seis{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: aqua;
}
.siete{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: aqua;
}.ocho{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: aqua;

}
.nueve{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: aqua;
}