.container {
    position: relative;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    margin: 20px auto;
  }

  .box {
    position: absolute;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    color: white;
  }

  .box1 {
    background-color: red;
    top: 50px;
    left: 50px;
    z-index: 1;
  }

  .box2 {
    background-color: blue;
    top: 100px;
    left: 100px;
    z-index: 3;
  }

  .box3 {
    background-color: green;
    top: 150px;
    left: 150px;
    z-index: 2;
  }