body {
    background-image: url("https://placehold.co/1200x800");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 0;
    height: 100vh; /* Usar el 100% de la altura de la ventana */
    justify-content: center;
    align-items: center; /* Centrado vertical */
    display: flex;
    margin: 0;
}

h1 {
    color: #00FFFF;
    text-shadow: 2px 2px 5px #041845;
    text-align: center;
}
