.boton1{
    background-color: rgb(12, 27, 112);
    color: hsl(174, 0%, 92%);
}
.boton1:hover{
    background-color: #439189;
    color: black;
}

.boton2{
    background-image: url("https://placehold.co/100x50");
    background-size: contain;
    justify-content: center;
    text-align: center; 
    padding: 10px 20px; 
    color: rgb(255, 255, 255); 
    font-size: 16px; /* Ajusta el tamaño de la fuente para mayor legibilidad */
    border: none; /* Elimina el borde predeterminado */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.boton3{
    background: linear-gradient(rgba(255, 0, 0, 1), hsla(120, 100%, 50%, 1));
    color: white; /* Usamos blanco como color de texto para un contraste alto */
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.boton3:hover {
    background: linear-gradient(45deg, rgba(255, 0, 0, 1), hsla(240, 100%, 50%, 1)); /* Cambiar el degradado al pasar el ratón */
}
