.descripcion{
    background-color:hsl(192, 100%, 39%);
    border:2px solid blue;
    width: 400px;
    margin-top: 0px;
}
h1{
    color:white;
}
p{
    color:#08f6f4  ;
}
button{
    background-color:	#000080 ;
    color:#FFFFFF;
}
button:hover{
    background-color: #08f6f4;
    color:black;
}