.grid-container{
    display: grid;
    background-color: lightblue;
    text-align: center;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 80px 80px 80px;
    border:1px solid black;
    gap:1px;
    grid-template-areas: ". celda1 celda1 "
                          "celda2 celda3 celda3 "
                          "celda4 celda4 celda4 ";
                        
            
}
.uno{
    border: 1px solid black;
    grid-area: celda1;
    
   

}
.dos{
    border: 1px solid black;
    grid-area: celda2;
   
}
.tres{
    border: 1px solid black;
    grid-area: celda3;
}
.cuatro{
    border: 1px solid black;
    grid-area: celda4;
}